*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
    font-family: 'Arial';
    font-size: 25pt;
    letter-spacing: 1px;
    width: 100%;
    background: #2980b9;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

}
#container{
    background: #5d6d7e;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -flex;
    justify-content: center;
    align-items: center;
}

#container form{
    background: #fff;
    width: 400ppx;
    padding: 10px;  
}

#container form img{
    margin: 15px auto;
    text-align: center ;
    display: block;
}

#container form input{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    border: 1px solid #CCC;
    text-align: center;
}

.alert{
    font-family: 'Arial';
    font-size: 16px;
    text-align: center;
}