@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);

#container h1{
	font-size: 35px;
	display: inline-block;
}
.btn_new{
	display: inline-block;
	background: #239baa;
	color: #fff;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
table th{
	text-align: left;
	padding: 10px;
	background: #3d7ba8;
	color: #fff;
}
table tr:nth-child(odd){
	background: #fff;
}
table td{
	padding: 10px;
}
.link_Edit{
	color: #0ca4ce;
}
.link_delete{
	color: #f26b6b;
}