@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);

.form_register{
	width: 450px;
	margin: auto;
}
.form_register h1{
    color: #3c93b0;
    text-align: center;
	}
	hr{
		border: 0;
		background: #ccc;
		height: 1px;
		margin: 10px 0;
		display: block;
	}
	form{
		background: #fff;
		margin: auto;
		padding: 20px 50px;
		border: 1px solid #d1d1d1;
	}
	label{
		display: block;
		font-size: 12pt;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		margin: 15px auto 5px auto;
    }
    input,select{
        display: block;
        width: 100%;
        font-size: 11pt;
        padding: 5px;
        border: 1px solid #85929e;
        border-radius: 5px;

    }
    .btn_save{
        font-size: 12pt;
        background: #12a4c6;
        padding: 10px;
        color: #fff;
        letter-spacing: 1px;
        border: 0;
        cursor: pointer;
        margin: 15px auto;
    }
    .alert{
        width: 100%;
        background: #66e07d66;
        border-radius: 6px;
        margin: 20px auto;
    }
    .msg_error{
        color: #e65656;
    }
    .msg_save{
        color: #126e00;
    }
    .alert p{
        padding: 10px;
    }

    /* custom radio */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio */
.radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
    border: 2px solid #2489C5;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
    background-color: #2489C5;
    border:none;
}

/* create the radio and hide when not checked */
.radio .check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
    display: block;
}

/* radio style */
.radio .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}